.App {
  text-align: center;
}

.App-logo {
  height: 20px;
  margin-top: 10px;
  float: left;
}

.App-title {
  font-family: Roboto-Light, sans-serif;
  float: left;
  font-size: 20px;
  padding: 10px 15px;
  color: white;
  box-sizing: border-box;
}

.App-header {
  background-color: #D74314;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 150px;
  z-index: 999;
}

.App-loading-container {
  width: 100%;
  padding: 200px;
  font-size: 25px;
  font-family: Roboto-Light, sans-serif;
  box-sizing: border-box;
}

.Offers-sort {
  height: 60px;
  box-sizing: border-box;
  padding: 15px 150px;
  text-align: left;
  width: 100%;
  background: #333;
  color: white;
  font-family: Roboto-Regular, sans-serif;
  box-shadow: 0 0 50px rgba(0,0,0,0.15);
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 998;
}

.Offers-pagenation {
  height: 60px;
  box-sizing: border-box;
  padding: 15px 150px;
  text-align: left;
  width: 100%;
  background: white;
  font-size: 14px;
  font-family: Roboto-Regular, sans-serif;
  box-shadow: 0 0 50px rgba(0,0,0,0.15);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 997;
}

.Offers-pagenation-showing {
  width: 250px;
  display: inline-block;
  margin-left: 40px;
  text-align: center;
}

.Offers-pagenation-limit {
  width: 250px;
  display: inline-block;
  margin-left: 40px;
  text-align: center;
}

.Offers-container {
  height: 100%;
  width: 100%;
  background: #FAFAFA;
  padding: 120px;
  box-sizing: border-box;
  text-align: center;
}

.Offer-table {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  text-align: left;
  background: white;
  font-family: Roboto-Regular, sans-serif;
  box-shadow: 0 10px 50px rgba(0,0,0,0.05);
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #EEE;
}

.Offer-card {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  max-width: 800px;
  text-align: left;
  background: white;
  font-family: Roboto-Regular, sans-serif;
  box-shadow: 0 10px 50px rgba(0,0,0,0.05);
  margin-top: 50px;
  display: inline-block;
  border-radius: 10px;
  position: relative;
}

.Offer-card-route {
  color: #333;
  font-size: 25px;
  line-height: normal;
  font-family: Roboto-Regular, sans-serif;
  display: inline-block;
  width: 100%;
}


.Offer-card-offer {
  color: black;
  font-size: 30px;
  position: absolute;
  right: 40px;
  top: 45px;
  line-height: normal;
  font-family: Roboto-Regular, sans-serif;
  display: inline-block;
  text-align: right;
}

.Offer-card-label {
  text-transform: uppercase;
  color: #777;
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  margin-bottom: 7px;
}

.Offer-card-dist {
  padding: 6px 10px;
  border-radius: 13px;
  background: #EAF5F4;
  color: #72B2AA;
  font-size: 16px;
  line-height: normal;
  font-family: Roboto-Medium, sans-serif;
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 120px;
}

.Offer-card-view {
  color: #D74314;
  padding: 7px 25px;
  font-family: Roboto-Regular, sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid #D74314;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

.Offers-sort-method {
  font-family: Roboto-Bold, sans-serif;
  color: #D74314;
  margin-left: 10px;
}

button.dark {
  padding: 7px 25px;
  outline: none;
  border: 0;
  border-left: 2px solid #555;
  box-sizing: border-box;
  background: transparent;
  color: white;
  font-size: 16px;
  font-family: Roboto-Light, sans-serif;
  cursor: pointer;
}

button.light {
  padding: 6px 15px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  color: #D74314;
  font-size: 18px;
  font-family: Roboto-Medium, sans-serif;
  cursor: pointer;
  margin: 0 5px;
}

button.light.disabled {
  color: #CCC;
}

i.fa-sort {
  opacity: .5;
}

.Offer-card-location {
  width: 100%;
  display: inline-block;
}

.Offer-card-location.start {
  margin-bottom: 40px;
}

.point-date {
  display: inline-block;
  width: 60px;
  vertical-align: middle;
  color: #777;
}


.point-marker {
  vertical-align: middle;
  height: 25px;
  width: 25px;
  margin: 10px 0;
  border-radius: 50%;
  border: 2px solid #D74314;
  display: inline-block;
  position: relative;
  background: white;

}

.point-marker::before {
  position: absolute;
  content: " ";
  margin: 7px;
  height: 7px;
  background: #D74314;
  width: 7px;
  border-radius: 50%;
  border: 2px solid #D74314;
}

.point-marker.start::after {
  position: absolute;
  content: " ";
  width: 2px;
  left: 11px;
  top: 28px;
  height: 100px;
  background: #DDD;
  border-radius: 1px;
}

.location-info {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin: 5px 0 0 25px;
}

.location-type {
  text-transform: uppercase;
  color: #777;
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
}

.location-area {
  color: black;
  font-family: Roboto-Regular, sans-serif;
  font-size: 30px;
  margin-top: 7px;
}

.location-timings {
  color: #333;
  font-family: Roboto-Regular, sans-serif;
  font-size: 16px;
  margin-top: 7px;
}

i.fa-clock {
  color: #AAA;
}

.Offers-pagenation-view {
  float: right;
  padding: 5px;
  display: inline-block;
}

i.fa-th-list, i.fa-th-large {
  margin: 0 10px;
  font-size: 20px;
  color: #AAA;
}

i.fa-th-large.selected {
  color: #D74314;
}

i.fa-th-list.selected {
  color: #D74314;
}